@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



.body-home{
    background: url(../img/school.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}
.black-fill{
    background: rgba(0,0 ,0 ,0.7 );
    min-height: 100vh;
}
#homeNav{
    background: rgba(255,255 ,255 ,0.5 ) !important; 
}
.welcome-text img{
width: 100px;
}
.welcome-text h4{
    color: #eee;
    font-size: 51px;
    font-family: 'Lobster', cursive;
}

.welcome-text p{
    color: #222;
    background: rgba(255,255 ,255 ,0.5 ) ;
    padding: 5px;
    border-radius: 4px;
   
}